<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/caixa.css"/>
  </head>
  <body ng-app="Caixa" >
    <div ng-controller="NotasNoCaixa">
      <h3>Caixa Eletrônico</h3>
      Só valores multiplos de 10.
      <br />
      <br />
      <input ng-model="qtd" placeholder="Quantidade" />
      <button ng-click="SaqueValor(qtd)">SACAR</button>
      <br />
      <br />
      Quantidade de notas disponíveis
      <table cellpadding="20" cellspacing="0">
        <tr>
          <td>Nota: R$100,00 </td><td >{{notas[0]}}</td>
        </tr>
        <tr>
          <td>Nota: R$50,00 </td><td>{{notas[1]}}</td>
        </tr>
        <tr>
          <td>Nota: R$20,00 </td><td>{{notas[2]}}</td>
        </tr>
        <tr>
          <td>Nota: R$10,00 </td><td>{{notas[3]}}</td>
        </tr>
      </table>
      <br />
    </div>
    <script src="../lib/angular.min.js"></script>
    <script src="../js/caixaeletronico.js"></script>
  </body>
</html>
